@model Registro.Controllers.mat_materia

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--@Html.DisplayNameFor(model => model.mat_nombre)-->
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mat_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mat_id }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
</p>
